In [21]:
let tranche_max t = (* renvoie tranche_max, son début, sa fin *)
    let s = ref t.(0) in (* s est le max de sj *)
    let sj = ref t.(0) in (* sj est la somme consécutive max finissant en t.(j) *)
    let deb = ref 0 in
    let fin = ref 0 in
    let deb_sj = ref 0 in
    for j=1 to Array.length t -1 do
        sj := !sj + t.(j);
        if !sj < t.(j) then (sj := t.(j); deb_sj := j);
        if !s < !sj then (s := !sj; deb := !deb_sj; fin :=j)
    done;
    (!s, !deb, !fin);;

val tranche_max : int array -> int * int * int = <fun>

In [23]:
tranche_max [|1;2;-4;5;2;-4|];;

- : int * int * int = (7, 3, 4)

In [35]:
let rec insere e l = match l with
    | e1::q when e1 > e -> e::l
    | e1::q -> e1::(insere e q)
    | [] -> [e];;

val insere : 'a -> 'a list -> 'a list = <fun>

In [36]:
insere 3 [1;4;5];;

- : int list = [1; 3; 4; 5]

In [37]:
let rec tri_insertion l = match l with
    | [] -> []
    | x::q -> insere x (tri_insertion q);;

val tri_insertion : 'a list -> 'a list = <fun>

In [38]:
tri_insertion [1;5;3;7];;

- : int list = [1; 3; 5; 7]

In [ ]:
let egale t1 t2 = 
    let i = ref