In [1]:
let rec doublon l = match l with
    | [] -> false
    | e::q -> List.mem e q || doublon q;;
(*Complexité n²*)    
    
    
doublon [1;4;66;1;3];;

val doublon : 'a list -> bool = <fun>

- : bool = true

In [2]:
let rec doublon l = match l with
    | [] -> false
    | [e] -> false
    | e::f::q -> e = f || doublon (f::q);;
(*
Complexité en O(n)
Complexité totale (avec tri) :
O(n log n) + O(n) = O(n log n)
O(log n) étant la complexité du tri-fusion
*)

doublon [1;3;4;4;5];;

val doublon : 'a list -> bool = <fun>

- : bool = true

In [3]:
let rec croissante = function
    | [] -> true
    | [e] -> true
    | e1::e2::q -> e1 <= e2 && croissante (e2::q)

val croissante : 'a list -> bool = <fun>

In [4]:
croissante [1,4,5,15];;

- : bool = true

In [5]:
(*
ecrire une fonction pour savoir si un tableau contient une somme consécutive égale à 0
*)
let somme t j k =
    let somme = ref 0 in
    for i=j to k do
        somme := !somme + t.(i)
    done;
    !somme;;

let somme_nulle t =
    let verif = ref false in
    for i=0 to (Array.length t)-1 do
        let s = ref 0 in
        for j=i to (Array.length t)-1 do
            s := !s + t.(j);
            verif := !verif || !s=0
        done;
    done;
    !verif;;
                
let t = [|2;-3;2;4;2;6|] in
somme_nulle t;;

val somme : int array -> int -> int -> int = <fun>

val somme_nulle : int array -> bool = <fun>

- : bool = false

In [6]:
let rec split = function
    | [] -> [], []
    | [e] -> [e], []
    | e1::e2::q -> let q1, q2 = split q in
        e1::q1, e2::q2
        
let rec fusion l1 l2 = match l1, l2 with
    | [], _ -> l2
    | _, [] -> l1
    | e1::q1, e2::q2 when e1 < e2 -> e1::fusion q1 l2
    | e1::q1, e2::q2 -> e2::fusion l1 q2
    
    
let rec tri = function
    | [] -> []
    | [e] -> [e] (* tri ne termine pas sans ce cas *)
    | l -> let l1, l2 = split l in
    fusion (tri l1) (tri l2);

val split : 'a list -> 'a list * 'a list = <fun>

val fusion : 'a list -> 'a list -> 'a list = <fun>

val tri : 'a list -> 'a list = <fun>

In [11]:
let sommes t =
    let somme = ref 0 in
    let l = ref [] in
    for i=0 to (Array.length t)-1 do
        somme := !somme + t.(i);
        l := (!somme)::!l
    done;
    !l;;

val sommes : int array -> int list = <fun>

In [22]:
let t = [|2;-3;2;-4;2;6|] in
let s = sommes t in
let sorted = tri s in
doublon sorted

- : bool = true